.custom-card{
    padding-bottom: 10px;
    padding-top: 10px;
}

.custom-btn{
    margin-top: -20px;
    margin-right: 90px;
    margin-bottom: 75px;


}


@media (max-width:700px){
    .custom-btn{
        margin-top: -20px;
        margin-bottom: 50px;
        margin-right: 25px;
    
    }
}