.custom-card{
    padding-bottom: 10px;
    padding-top: 10px;
}
body {
    /* Location of the image */
    background-image: url('./email-pattern.png');
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: black;
  }
.custom-btn{
    margin-top: -20px;
    margin-right: 75px;
    margin-bottom: 75px;


}

.landing{
    margin-top: 125px;
}



.select{
    margin-top: 100px;
}
#filter-btn{
    margin-top: 30px;
    background-color: red;
}
@media (max-width:700px){
    .custom-btn{
        margin-top: -20px;
        margin-bottom: 50px;
        margin-right: 15px;
    
    }
    #filter-btn{
        height: 30px;
    }

    .test{
        width: 100%;
    }
}